:root {
    --bg-color:  #76b4bd;
    --secondary-color: #5e5656;
    --tertiary-color: #58668b;
    --white: #ebf4f6;
    --main-radius: 4px;

}

body {
    background-color: var(--bg-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }

.nav-container {
    width: 100%;
    /* background-color: var(--secondary-color); */
    overflow: auto;
    height: 100%;
    border-bottom: 1px solid var(--secondary-color);
}

.nav-container a:hover {
  color: var(--secondary-color);
}

.nav-container a:active {
  color: var(--secondary-color);
}

.nav-container a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

  
.calculator-wrapper {
      margin-top: 20px;
      color: var(--secondary-color);
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;

  }

.calculator-wrapper > div {
    padding: 1rem;
    color: var(--white);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    border: 2px solid var(--secondary-color);
    margin: 10px 10px 10px 10px;
}
.mortgage-params {
    grid-column-start: 1;
    grid-column-end: 2;
}

input, label {
    display: block;
    margin-bottom: 10px;
    /* padding-bottom: 10px;
    padding-top: 10px; */
    
}

input, #my-select   {
    height: 20px;
    width: 80%;
    font-size: 12px;
    outline: none;
    padding: 0.375rem 0.75rem;
    margin-bottom: 10px;
    background: white;
    border-radius: 0.25rem;
    border: 2px solid var(--secondary-color);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: inline-block;
    transition: all 0.3s linear;
    margin-right: 10%;
}

#view-select {
  height: 30px;
  width: 20%;
  border-radius: 0.25rem;
  border: 2px solid var(--secondary-color);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: inline-block;
  cursor: pointer;
}

#my-select  {
  height: 40px;
  width: 40%;
  font-size: 12px;
  outline: none;
  padding: 0.375rem 0.75rem;
  margin-bottom: 10px;
  background: white;
  border-radius: 0.25rem;
  border: 2px solid var(--secondary-color);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: inline-block;
  transition: all 0.3s linear;
  margin-right: 10%;
}


.term-container {
    display: inline-block;

}

#term-years, #term-months, #price-min, #price-max {
    width: 30%;
}

button {
    border: none;
    outline: none;
    height: 40px;
    font-size: 18px;
    background: white;
    color: black;
    padding: 0.375rem 0.75rem;
    letter-spacing: 0.1rem;
    display: inline-block;
    transition: all 0.3s linear;
    font-size: 0.875rem;
    border: 2px solid var(--secondary-color);
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
    text-transform: uppercase;

    width: 150px;

}

button:hover {
    background: var(--tertiary-color);
    color: var(--white);
}


.btn-container {
    display: block;
    float: left;
    margin-top: 30px;
    margin-bottom: 10px;
}



.btn {
    /*margin-left: 10%;*/
    margin-right: 55px;

}

.results-container {
    grid-column-start: 2;
    grid-column-end: 3;
}

.chart-container {
    grid-column-start: 3;
    grid-column-end: 5;
    display: flex;
    flex-direction: column;
}

.price-sea-container {
  grid-column-start: 2;
  grid-column-end: 5;
  display: flex;
  flex-direction: column;
}


.card-title {
    font-size: 25px;
}

.results-card {
    margin-bottom: 30px;
}

#scenario-tbl, #search-tbl {
  width: 100%;
  height: 300px;
  margin-top: 20px;
  border-collapse: collapse;
  /* position: relative; */
}

#scenario-tbl th, td {
  font-size: 18px;
  text-align: center;
}

#scenario-tbl th, td, tr {
  border-top: 1px solid #ebf4f6;
  border-bottom: 1px solid #ebf4f6;
}

#scenario-tbl tr:hover {
  background: var(--tertiary-color);
}

#scenario-tbl tr td:nth-child(1) {
  display: none;
}

#scenario-tbl th:nth-child(1) {
  display: none;
}

#search-tbl th, td {
  font-size: 18px;
  text-align: center;
}

#search-tbl th, td, tr {
  border-top: 1px solid #ebf4f6;
  border-bottom: 1px solid #ebf4f6;
}

#search-tbl tr:hover {
  background: var(--tertiary-color);
}

#price-sort-btn:hover {
  color: var(--secondary-color);
}

.delete-btn {
  background: none;
  border: none;
  outline: none;
  width: 30px;
  box-shadow: none;
  font-size: 1rem;
  padding: none;
}

.delete-btn:hover {
  background: none;
  border: none;
  outline:none;
}

#post-alert {
  text-transform: capitalize;
}

@keyframes fade-slide-in {
  from {
      transform: translateY(-5rem);
  }
  to {
      transform: translateY(0);
  }

}

#validation-list{
  display: inline-block;
  list-style-type: square;

}

#validation-list li {
  width: 100%;
}

.calc-input-container {
  position: fixed;
  z-index: 100;
  background: var(--tertiary-color);
  color: var(--white);
  border-radius: 10px;
  width: 50%;
  top: 30vh;
  left: 25%;
  border: 1px solid var(--white);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  pointer-events: none;
  display: none;
  padding-left: 5%;
  padding-top:10px;
}


#input-background {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 10;
  pointer-events: none;
  display: none;
}

#input-background.visible {
  display: block;
  pointer-events: all;
}

.calc-input-container.visible {
  display: block;
  animation: fade-slide-in 0.3s ease-out forwards;
}

.double-range-slider {
  position: relative;
  width: 100%;
  height: 50px;
  outline: none;
  /* margin-top: 10px; */
  margin-bottom: 20px;


}

input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
   appearance: none;
   width: 80%;
   outline: none;
   position: absolute;
   margin: auto;
   top: 0;
   bottom:0;
   background-color: transparent;
   pointer-events: none;
   /* border: 1px solid white; */
   border: none;
   outline: none;
   box-shadow: none;
}

.track-slider {
  width: 80%;
  height: 5px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  /* border: none; */
}


input[type="range"]::-webkit-slider-runnable-track{
  -webkit-appearance: none;
  height: 5px;
}
input[type="range"]::-moz-range-track{
  -moz-appearance: none;
  height: 5px;
}
input[type="range"]::-ms-track{
  appearance: none;
  height: 5px;
}
input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance: none;
  height: 1.7em;
  width: 1.7em;
  background-color: white;
  border: 1px solid var(--secondary-color);
  cursor: pointer;
  margin-top: -9px;
  pointer-events: auto;
  border-radius: 50%;
}
input[type="range"]::-moz-range-thumb{
  -webkit-appearance: none;
  height: 1.7em;
  width: 1.7em;
  cursor: pointer;
  border-radius: 50%;
  background-color: red;
  pointer-events: auto;
}
input[type="range"]::-ms-thumb{
  appearance: none;
  height: 1.7em;
  width: 1.7em;
  cursor: pointer;
  border-radius: 50%;
  background-color: #3264fe;
  pointer-events: auto;
}
input[type="range"]:active::-webkit-slider-thumb{
  background-color: #ffffff;
  border: 5px solid var(--secondary-color);
}

/* .slider-vals {
  background-color:blue;
  width: 30%;
  position: relative;
  margin: auto;
  padding: 10px 0;
  border-radius: 5px;
  text-align: center;
  font-size: 25px;
  color: white;
} */

/* .slider-vals:before{
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border-top: 15px solid #3264fe;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  margin: auto;
  bottom: -14px;
  left: 0;
  right: 0;
} */

